# PROJECT PHASE 2 SUBMISSION

# NAMES: Madison, Nakul, Huy, Mark

## Central motivation of the project

We wanted to find how the Economic Growth of Countries Affect CO2 Emissions. As countries progress economically, they face challenges related to climate sustainabiliy and preservation. Tracking CO2 emissions of countries can help predict future CO2 emissions as more countries become developed. 

1. How does the CO2 emissions of developing countries help predict future climate issues. 

2. How does economic growth impact pollution by country; is there a corellation between economic output and poluttion.

In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import requests
from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from bs4 import BeautifulSoup
from datetime import time

import wbgapi as wb 
# documentation: https://pypi.org/project/wbgapi/

In [26]:
#don't use NY.GDP.MKTP.CD
#use NY.GDP.PCAP.CD ie GDP per Capita
df = wb.data.DataFrame(['NY.GDP.PCAP.CD', 'EN.ATM.CO2E.KT'], time=range(1960, 2023), 
                       skipBlanks=True, labels=True, columns='series').reset_index()

df = df.drop(['economy', 'time'], axis = 1) #drop the country abbreviation (i.e. USA) and time (i.e. YR2019) columns

df.rename(columns={'EN.ATM.CO2E.KT' : 'CO2 Emission', 'NY.GDP.PCAP.CD' : 'GDP per Capita'},
          inplace=True)

In [27]:
df

           Country  Time  CO2 Emission  GDP per Capita
0         Zimbabwe  2019      10185.30     1421.868596
1         Zimbabwe  2018      11069.90     2269.177012
2         Zimbabwe  2017       9781.00     1192.107012
3         Zimbabwe  2016      10450.20     1421.787791
4         Zimbabwe  2015      11988.70     1410.329173
...            ...   ...           ...             ...
13090  Afghanistan  1994       1493.59             NaN
13091  Afghanistan  1993       1527.89             NaN
13092  Afghanistan  1992       1525.47             NaN
13093  Afghanistan  1991       1941.37             NaN
13094  Afghanistan  1990       2046.87             NaN

[13095 rows x 4 columns]

In [28]:
bool = (df.loc[:, 'Country'] == 'United States')
lol = df.loc[bool, :]
lol

           Country  Time  CO2 Emission  GDP per Capita
418  United States  2019     4817710.4    65548.070785
419  United States  2018     4975300.4    63201.045848
420  United States  2017     4819365.1    60322.261424
421  United States  2016     4894499.2    58206.614193
422  United States  2015     4990703.7    57040.208214
423  United States  2014     5107208.6    55304.315532
424  United States  2013     5092097.2    53409.750777
425  United States  2012     4956053.0    51784.411469
426  United States  2011     5173591.2    50065.978947
427  United States  2010     5392109.4    48650.664323
428  United States  2009     5156424.9    47194.950089
429  United States  2008     5558378.9    48570.059427
430  United States  2007     5736319.3    48050.227412
431  United States  2006     5653081.0    46301.987649
432  United States  2005     5753493.2    44123.399647
433  United States  2004     5738286.0    41724.641198
434  United States  2003     5658992.0    39490.302390
435  United States  2002     5593024.4    37997.742430
436  United States  2001     5748261.8    37133.620397
437  United States  2000     5775807.2    36329.970260
438  United States  1999     5609017.3    34515.381307
439  United States  1998     5590536.3    32853.672595
440  United States  1997     5543349.4    31459.129969
441  United States  1996     5273486.3    29967.712718
442  United States  1995     5117036.9    28690.875701
443  United States  1994     5066803.0    27694.853416
444  United States  1993     4995209.5    26387.293734
445  United States  1992     4879626.1    25418.990776
446  United States  1991     4807496.5    24342.258905
447  United States  1990     4844517.4    23888.600009
448  United States  1989           NaN    22857.154433
449  United States  1988           NaN    21417.011931
450  United States  1987           NaN    20038.941099
451  United States  1986           NaN    19071.227195
452  United States  1985           NaN    18236.827727
453  United States  1984           NaN    17121.225485
454  United States  1983           NaN    15543.893717
455  United States  1982           NaN    14433.787727
456  United States  1981           NaN    13976.105393
457  United States  1980           NaN    12574.791506
458  United States  1979           NaN    11674.181867
459  United States  1978           NaN    10564.948222
460  United States  1977           NaN     9452.576519
461  United States  1976           NaN     8592.253537
462  United States  1975           NaN     7801.456664
463  United States  1974           NaN     7225.691360
464  United States  1973           NaN     6726.358956
465  United States  1972           NaN     6094.017990
466  United States  1971           NaN     5609.382600
467  United States  1970           NaN     5234.296666
468  United States  1969           NaN     5019.998186
469  United States  1968           NaN     4684.588403
470  United States  1967           NaN     4325.959351
471  United States  1966           NaN     4136.308296
472  United States  1965           NaN     3818.288251
473  United States  1964           NaN     3565.314430
474  United States  1963           NaN     3366.369790
475  United States  1962           NaN     3236.013112
476  United States  1961           NaN     3059.160821
477  United States  1960           NaN     2999.864872