# PROJECT PHASE 2 SUBMISSION

# NAMES: Madison, Nakul, Huy, Mark

## Central motivation of the project

We wanted to find how the Economic Growth of Countries Affect CO2 Emissions. As countries progress economically, they face challenges related to climate sustainabiliy and preservation. Tracking CO2 emissions of countries can help predict future CO2 emissions as more countries become developed. 

1. How does the CO2 emissions of developing countries help predict future climate issues. 

2. How does economic growth impact pollution by country; is there a corellation between economic output and poluttion.

In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import requests
from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from bs4 import BeautifulSoup
from datetime import time

import wbgapi as wb 
# documentation: https://pypi.org/project/wbgapi/

In [29]:
#don't use NY.GDP.MKTP.CD
#use NY.GDP.PCAP.CD ie GDP per Capita
df = wb.data.DataFrame(['NY.GDP.PCAP.CD', 'EN.ATM.CO2E.KT'], time=range(1960, 2024), #from 1960 to 2023
                       skipBlanks=True, labels=True, columns='series').reset_index()

df = df.drop(['economy', 'time'], axis = 1) #drop the country abbreviation (i.e. USA) and time (i.e. YR2019) columns

df.rename(columns={'EN.ATM.CO2E.KT' : 'CO2 Emission', 'NY.GDP.PCAP.CD' : 'GDP per Capita'},
          inplace=True)

In [30]:
df

           Country  Time  CO2 Emission  GDP per Capita
0         Zimbabwe  2022           NaN     1676.821489
1         Zimbabwe  2021           NaN     1773.920411
2         Zimbabwe  2020       8312.50     1372.696674
3         Zimbabwe  2019      10185.30     1421.868596
4         Zimbabwe  2018      11069.90     2269.177012
...            ...   ...           ...             ...
13860  Afghanistan  1994       1493.59             NaN
13861  Afghanistan  1993       1527.89             NaN
13862  Afghanistan  1992       1525.47             NaN
13863  Afghanistan  1991       1941.37             NaN
13864  Afghanistan  1990       2046.87             NaN

[13865 rows x 4 columns]

In [31]:
bool = (df.loc[:, 'Country'] == 'United States')
lol = df.loc[bool, :]
lol

           Country  Time  CO2 Emission  GDP per Capita
444  United States  2022           NaN    77246.673883
445  United States  2021           NaN    71055.876194
446  United States  2020     4320532.5    64317.398913
447  United States  2019     4817710.4    65548.070785
448  United States  2018     4975300.4    63201.045848
..             ...   ...           ...             ...
502  United States  1964           NaN     3565.314430
503  United States  1963           NaN     3366.369790
504  United States  1962           NaN     3236.013112
505  United States  1961           NaN     3059.160821
506  United States  1960           NaN     2999.864872

[63 rows x 4 columns]

In [ ]:
df.to_csv('gdp_co2_1960_2023.csv')